<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--Setter Injection-->
    <bean id="student" class="com.aditya.Student" autowire="byName">
       <property name="computer" ref="computer"/>
    </bean>

    <bean id="computer" class="com.aditya.Desktop" lazy-init="true"/>
<!--    <bean id="computer" class="com.aditya.Laptop"/>-->

<!--    Constructor injection-->
    <bean id="car" class="com.aditya.Car">
        <constructor-arg value="BMW"/>
        <constructor-arg value="M8"/>
    </bean>
</beans>